@CHARSET "ISO-8859-1";

div#map-canvas{
       height:500px;    
}

div#map-legend{
       padding: 5px;
      
}


div#map-legend .selectedlegend {
    color: blue;
}

div#map-legend .unselectedlegend {
    color: none;
}

    